<!-- search_results.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>検索結果</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h2>検索結果</h2>
<ul>
    <!-- 各レシピのリストアイテム -->
    <li><a href="recipe_detail.html">レシピ1</a></li>
    <li><a href="recipe_detail.html">レシピ2</a></li>
    <!-- その他のレシピ -->
</ul>
</body>
</html>
