<tr>
  <td><input type="text" name="recipe[ingredients_attributes][][name]" placeholder="材料名"></td>
  <td><input type="text" name="recipe[ingredients_attributes][][quantity]" placeholder="分量"></td>
  <td><a href="#" class="remove_fields">削除</a></td>
</tr>
